# Ignore build directory but allow JAR files in build/libs
/build/*
!/build/libs/
!/build/libs/*.jar

# Ignore node_modules
/node_modules

# Ignore IntelliJ project files
.idea/

# Ignore logs
logs/
