<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="UTF-8">
	<title>入力フォーム</title>

	<!-- ページ全体のスタイルを定義 -->
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<script>
		function validateForm() {
			const requiredFields = ["recipeName", "fileName", "comment", "number"];
			for (let i = 0; i < requiredFields.length; i++) {
				// 入力データの最初の値を取得
				const field = document.getElementsByName(requiredFields[i])[0];
				// フィールドが空でないことを確認(文字列のスペースを取り除き比較)
				if (field.value.trim() === "") {
					// フィールドが空の場合エラーメッセージを表示(型変換無しで比較)
					alert(field.name + "を入力してください。");
					return false;
				}
			}

			const materials = document.getElementsByName("material[]");
			for (let i = 0; i < materials.length; i++) {
				// 材料フィールドが空でないことを確認
				if (materials[i].value.trim() === "") {
					// 材料フィールドが空の場合エラーメッセージを表示(型変換無しで比較)
					alert("材料を入力してください。");
					return false;
				}
			}

			const quantities = document.getElementsByName("quantity[]");
			for (let i = 0; i < quantities.length; i++) {
				// 数量フィールドが空でないことを確認
				if (quantities[i].value.trim() === "") {
					// 数量フィールドが空の場合エラーメッセージを表示(型変換無しで比較)
					alert("数量を入力してください。");
					return false;
				}
			}

			const fileNames = document.getElementsByName("fileName2[]");
			for (let i = 0; i < fileNames.length; i++) {
				// 作り方の画像フィールドが空でないことを確認
				if (fileNames[i].value.trim() === "") {
					// 作り方の画像フィールドが空の場合エラーメッセージを表示(型変換無しで比較)
					alert("作り方の画像を入力してください。");
					return false;
				}
			}

			const howToMakes = document.getElementsByName("howToMake[]");
			for (let i = 0; i < howToMakes.length; i++) {
				// 作り方フィールドが空でないことを確認
				if (howToMakes[i].value.trim() === "") {
					// 作り方フィールドが空の場合エラーメッセージを表示(型変換無しで比較)
					alert("作り方を入力してください。");
					return false;
				}
			}
			return true; // すべてのチェックが成功した場合にフォームを送信
		}

		// テーブルに新しい行を追加する関数
		function addRow(tableId, rowHtml) {
			const table = document.getElementById(tableId).getElementsByTagName('tbody')[0];
			const newRow = table.insertRow();// <tr>を挿入
			newRow.innerHTML = rowHtml;
		}

		// 材料の新しい行を追加する関数
		function addMaterialRow() {
			const rowHtml = `
			<td class="no-wrap">・<input type="text" name="material[]" /></td>
			<td class="no-wrap"><input type="text" name="quantity[]" /></td>
			<td><input type="button" value="削除" onclick="deleteRow(this, 'materialTable')"></td>
		`;
			addRow('materialTable', rowHtml);
		}

		// 作り方の新しい行を追加する関数
		function addHowToMakeRow() {
			const rowHtml = `
			<td><input type="file" name="fileName2[]" /></td>
			<td class="no-wrap">・<input type="text" name="howToMake[]" /></td>
			<td><input type="button" value="削除" onclick="deleteRow(this, 'howToMakeTable')"></td>
		`;
			addRow('howToMakeTable', rowHtml);
		}

		// 指定した行を削除する関数
		function deleteRow(button, tableId) {
			const table = document.getElementById(tableId).getElementsByTagName('tbody')[0];
			const rows = table.getElementsByTagName('tr');
			if (rows.length > 1) {
				// 行が2行の以上の場合は削除
				const row = button.closest('tr');
				row.parentNode.removeChild(row);
			} else {
				alert("これ以上削除できません。"); // 行が1つしかない場合の警告メッセージ
			}
		}
	</script>
</head>

<body>
	<!-- ページ全体のレイアウトコンテナ -->
	<div class="layout-container">
		<!-- 左揃え：統計画面へのリンクを提供するフォーム -->
		<div class="left-align">
			<!-- レシピ一覧ページに移動するためのフォーム -->
			<form th:action="@{/recipes}" method="get">
				<input type="submit" value="レシピ一覧へ移動">
			</form>
		</div>

		<!-- 右揃え：ユーザー認証情報とログアウトフォーム -->
		<div class="right-align">
			<!-- 認証済みユーザーであるかをチェックして表示 -->
			<div sec:authorize="isAuthenticated()">
				ユーザー認証済み:
			</div>
			<!-- ログインユーザーの名前を表示 -->
			<div sec:authentication="name">
				ログイン情報のname値に書き換わる
			</div>
			<!-- ログアウトボタン -->
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="ログアウト">
			</form>
		</div>
	</div>
	<!-- フォームの開始タグ -->
	<form th:action="@{/addRecipe}" method="post" enctype="multipart/form-data" onsubmit="return validateForm();">
		<h1>入力フォーム</h1>
		<p class="centered-text">
			1.各項目に内容を入力してください。<br>2.全ての項目を入力した後、「登録」ボタンを押してレシピを投稿してください。
		</p>
		<input type="submit" value="登録">

		<!-- レシピ名、画像、コメントを入力するテーブル -->
		<table border="1">
			<tr bgcolor="silver">
				<th>レシピ名称</th>
				<th>レシピ画像ファイル<br>(例: .png、.jpg、.bmp、.webp)
				</th>
				<th>コメント</th>
			</tr>
			<tr class="transparent-table">
				<td><input type="text" name="recipeName" /></td>
				<td><input type="file" name="fileName" /></td>
				<td><input type="text" name="comment" /></td>
			</tr>
		</table>

		<!-- 人数を入力するテーブル -->
		<table border="1">
			<tr bgcolor="silver">
				<th>人数</th>
			</tr>
			<tr class="transparent-table">
				<td class="no-wrap"><input type="text" name="number">人分</td>
			</tr>
		</table>

		<!-- 材料と数量を入力するテーブル -->
		<table id="materialTable" border="1">
			<thead>
				<tr bgcolor="silver">
					<th>材料</th>
					<th>数量<br>(単位も含めて入力してください<br>例:「1個」「大さじ1」)
					</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="no-wrap">・<input type="text" name="material[]" /></td>
					<td class="no-wrap"><input type="text" name="quantity[]" /></td>
					<td><input type="button" value="削除" onclick="deleteRow(this, 'materialTable')" /></td>
				</tr>
			</tbody>
		</table>
		<button type="button" onclick="addMaterialRow()">「材料」の行を追加</button>

		<!-- 作り方を入力するテーブル -->
		<table id="howToMakeTable" border="1">
			<thead>
				<tr bgcolor="silver">
					<th>作り方画像ファイル<br>(.png、.jpg、.bmp、.webp)
					</th>
					<th>作り方</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="file" name="fileName2[]" /></td>
					<td class="no-wrap">・<input type="text" name="howToMake[]" /></td>
					<td><input type="button" value="削除" onclick="deleteRow(this, 'howToMakeTable')" /></td>
				</tr>
			</tbody>
		</table>
		<button type="button" onclick="addHowToMakeRow()">「作り方」の行を追加</button>
	</form>
</body>

</html>